@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@tailwind base;
@tailwind components;
*{
    font-family: "Alata", serif;
}
body{@apply bg-dark;}
.warrper{@apply w-full max-w-[1480px] mx-auto px-5;}
.btn_primary{@apply bg-secondary font-oswald anim rounded-[10px] text-14 xl:text-16 font-bold border-2 border-secondary min-w-24 lg:min-w-28 xl:min-w-[165px] py-1.5 lg:py-2.5 xl:py-3 px-2.5 xl:px-3.5 text-white cursor-pointer hover:bg-transparent hover:border-secondary hover:text-secondary inline-block;}
.h1,h1{@apply text-32 md:text-38 lg:text-52 xl:text-7xl 2xl:text-80 font-bold text-primary font-oswald;}
.h2,h2{@apply text-28 lg:text-34 xl:text-40 2xl:text-48 font-bold text-primary font-oswald;}
/* .h3,h3{@apply text-20 lg:text-24 xl:text-30 2xl:text-36 font-bold text-dark;} */
.text16{@apply text-12 md:text-14 2xl:text-16;}
.text18{@apply text-14 lg:text-16 2xl:text-18;}
.text20{@apply text-16 lg:text-18 2xl:text-20;}
.text24{@apply text-16 md:text-18 lg:text-20 2xl:text-24;}
.text28{@apply text-18 md:text-20 lg:text-24 2xl:text-28;}
.anim{@apply duration-300 transition-all;}
.checkbox{@apply w-5 h-5 rounded border border-white flex items-center justify-center;}
.radio{@apply w-5 h-5 rounded-full border-2 border-white flex items-center justify-center;}
input:checked + .checkbox, input:checked + .radio{@apply border-secondary bg-secondary;}
input:checked + .checkbox span, input:checked + .radio span{@apply opacity-100;}

/* single border gradient  */
.gra_border{ 
    background: linear-gradient(to right, rgba(172, 172, 172, 0), rgba(255, 255, 255, 1), rgba(172, 172, 172, 0));
    width: 100%;
    height: 1px;
    display: block;
}

/* box gradient  */
.gra_border_2 {
    width: 100%;
    position: relative;
    background: linear-gradient(322.76deg, #FFFFFF -1.67%, rgba(255, 255, 255, 0) 28.83%, rgba(255, 255, 255, 0) 69.5%, #FFFFFF 100%);
    padding: 1px;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
  }
  .gra_border_bg {
    background: #0A0909;
    color: white;
    border-radius: 10px;
  
  }
  .gra_border_3 {
    width: 100%;
    position: relative;
    background: linear-gradient(350.76deg, #FFFFFF -1.67%, rgba(255, 255, 255, 0) 28.83%, rgba(255, 255, 255, 0) 69.5%, #FFFFFF 100%);
    padding: 1px;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
}

.tab_hover li a::after {
  content: "";
  width: 0;
  height: 4px;
  background: #D72028;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 3px 3px 0 0;
  transition: 0.3s all;
}
.tab_hover li a.active::after, .tab_hover li a:hover::after{
  width: 100%;
}
.tab_hover li a.active{
  color: #D72028;
}

.tab-main.active {
  display: block;
  transform: scale(1);
}
.tab-main{
    transition: 0.5s all;
    transform:scale(0);
}
button{
    transition: 0.3s width all;
}
button.active {
    color: #2B50ED;
    border-color: #fff;
}
#select_inpu.active, #select_inpu2.active{@apply visible opacity-100 translate-y-2;}

@tailwind utilities;